.container
{
    position: absolute;
    top:20%;
    left: 30%;
}

input
{
    width: 50%;
}

label{
    color:black;
    font-style:bold;
}

textarea
{
    width: 50%;
    height: 7cm;
}

.alert
{
    width: 50%;
    text-align: center;
}


