
<div class="container">
<h4>Sunteti foarte aproape de vacanta de vis!</h4>
<p><ngb-progressbar [value]=value></ngb-progressbar></p>
  
<div class="alert alert-success" role="alert" *ngIf=message>
    {{message}}
</div>
<div class="alert alert-danger" role="alert" *ngIf=alertMessage>
  {{alertMessage}}
</div>
  <form #userRegForm="ngForm" (ngSubmit)="createABook()">
      <div>
      <div class="row">
        <div class="col-md-12 mb-2">
          <label>Prenume</label>
          <input [(ngModel)]="firstname" name="firstname" type="text" class="form-control" id="firstname" required>
        </div>
      </div>
        <div class="row">
          <div class="col-md-12 mb-2">
          <label>Nume</label>
          <input [(ngModel)]="lastname" name="lastname" type="text" class="form-control" id="lastname" value="" required>
        </div>
        </div>
    
      <div class="row">
        <div class="col-md-12 mb-2">
          <label>Email</label>
          <input [(ngModel)]="email" name="email" type="email" class="form-control" required pattern="(.*@yahoo.com$)|(.*@gmail.com$)">
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 mb-2">
          <label>Alege Perioada</label>
          <div>
          <div class="row">
            <div class="col-md-12 mb-2">
           <form class="form-inline">
             <div class="form-group">
               <div class="input-group">
                 <input class="form-control" placeholder="yyyy-mm-dd" 
                  name="dp" [(ngModel)]="targetDate1" ngbDatepicker #d1="ngbDatepicker">
                 <div class="input-group-append">
                   <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                     <i class="fas fa-calendar-alt"></i>
                   </button>
                 </div>
               </div>
             </div>
             <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" 
                 name="dp" [(ngModel)]="targetDate2" ngbDatepicker #d2="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
           </form>
            </div>
           </div>
        </div>
      </div>
      </div>
    
  
        <div class="row">
          <div class="col-md-12">
            <button name='Button' class="btn btn-success" type="submit" [disabled]="!userRegForm.valid">Rezerva</button>
          </div>
        </div>
  
      </div>
    </form>
    </div>
  