
<div class="header">
<div class="row d-flex justify-content-center">
<h3 class="white-text mb-0 py-5 font-weight-bold">Bine ai venit la Stana lui Andrei!</h3>
</div>
<div class="container">
<angular-image-slider
  [autoRotate]="true"
  [autoRotateAfter]="5000"
  [autoRotateRight]="true"
  [images]="images"
></angular-image-slider>
</div>

<div class="container">
  <textarea class="form-control" readonly>
    Te-ai saturat de stresul vietii de zi cu zi?De monotonie si de aceleasi locuri?Ce ar fi sa incerci un loc nou?Stana lui Andrei este o oaza de relaxare pentru noi toti!Poti sa vii aici de un milion de ori si tot nu o sa inceteze sa te surprinda frumusetea locului.Poate fi de necrezut ca exista atata liniste intr-un loc populat cu oameni.Ai crede ca e vreo poveste de a lui Creanga, ci totusi este vacanta ta!
    Te-am convins,arzi de nerăbdare și parc-ai vrea să te teleportezi degrabă într-acolo?Daca da,tot ce trebuie sa faci este sa rezervi un cort pe site-ul nostru in sectiunea "Rezerva un cort",fie sa ne contactezi prin email sau telefon.
    Te asteptam cu drag!
  </textarea>
</div>